

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Multi-page template</title>

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


</head>

<body>

<!-- Start of first page: #one -->
<div data-role="page" id="one">

	<div data-role="header">
		<h1>Multi-page</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Welcome!</h2>

		<br>
        Welcome to the application, login or register.
	
	<br>
	
		<label for="text-1">Username:</label>
		<input type="text" name="text-1" id="text-1" value="">

		<label for="text-2">Password:</label>
		<input type="text" name="text-2" id="text-2" value="">

		<h3>Show internal pages:</h3>
		<p><a href="#register" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
		<p><a href="#login" class="ui-btn ui-shadow ui-corner-all">Login</a></p>

	</div><!-- /content -->

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page one -->

<!-- Start of second page: #two -->
<div data-role="page" id="two" data-theme="a">

	<div data-role="header">
		<h1>Two</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Two</h2>
		<p>I have an id of "two" on my page container. I'm the second page container in this multi-page template.</p>
		<p>Notice that the theme is different for this page because we've added a few <code>data-theme</code> swatch assigments here to show off how flexible it is. You can add any content or widget to these pages, but we're keeping these simple.</p>
		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Back to page "one"</a></p>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page two -->

<!-- Start of third page: #popup -->
<div data-role="page" id="popup">

	<div data-role="header" data-theme="b">
		<h1>Dialog</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Popup</h2>
		<p>I have an id of "popup" on my page container and only look like a dialog because the link to me had a <code>data-rel="dialog"</code> attribute which gives me this inset look and a <code>data-transition="pop"</code> attribute to change the transition to pop. Without this, I'd be styled as a normal page.</p>
		<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back to page "one"</a></p>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page popup -->



<div data-role="page" id="login" data-theme="a">
<div data-role="header">
		<h1>Login page</h1>
	</div><!-- /header -->

     <div role="main" class="ui-content">
		<h2>Login</h2>
	   Username <input type="text" name="login_username" id="login_username" value="">
       Password <input type="text" name="login_pass" id="login_pass" value="">
        <button class="ui-btn" id="loginButton">Submit</button>
        
        
        
	</div><!-- /content -->


</div>


<div data-role="page" id="driver" data-theme="a">

       <div data-role="header">
		<h1>Driver</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
	


	</div><!-- /content -->
</div>

<div data-role="page" id="register" data-theme="a">

       <div data-role="header">
		<h1>Register</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
		<h2>Register</h2>
        
       Username <input type="text" name="username" id="username" value="">
       Password <input type="text" name="pass" id="pass" value="">
        AccType <input type="text" name="acctype" id="acctype" value="">
       <button class="ui-btn" id="registerButton">Submit</button>


	</div><!-- /content -->
</div>
</body>

<script>


$( "#loginButton" ).click(function() {
  
      var un = $( "#login_username" ).val();
      console.log(un);
      
      var pw = $( "#login_pass" ).val();
      console.log(pw);
      

      
      
      $.post( "/backend", { type: "login", username:un, password:pw})
     .done(function( data ) {
        alert( "Data Loaded: " + data );
        
        
        if(data == 'customer'){
            window.location="/index#customer";
        }
        else if(data == 'driver'){
            window.location="/index#driver";
        }        
        
       });
  
  
  
  //alert( "register button pressed!" );
  
  
});





$( "#registerButton" ).click(function() {
  
      var un = $( "#username" ).val();
      console.log(un);
      
      var pw = $( "#pass" ).val();
      console.log(pw);
      
      var at = $( "#acctype" ).val();
      console.log(at);
      
      
      
      $.post( "/backend", { type: "register", username:un, pass:pw, acctype:at})
     .done(function( data ) {
        alert( "Data Loaded: " + data );
       });
  
  
  
  //alert( "register button pressed!" );
  
  
});


</script>





















</html>
