{% extends 'base.html.twig' %}

{% block body %}
<style>
    .table-wrapper-wrapper { margin: 0.5em auto; max-width: 1000px; width: 100%; font: 15px/1.5 sans-serif; }
    .table-wrapper-wrapper { background: #f2f2f2; padding: 3px 3px; }
</style>


{# {{dump(orders[0])}} #}

{#  {{dump(orders)}} #}


<div class="table-wrapper-wrapper">

	<h4> Total report </h4>

	<table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stroke">
			
		
		{% for total_orders, total_revenue in orders[0] %}
		
	     <tbody>
	
	      	<tr>
				<th> {{ total_orders }} </th>
				<td> {{ total_revenue }} </td>
			</tr>
			
     	</tbody>

		{% endfor %}
				
   	</table>

</div>

{% endblock %}